/* Creates the navbar */

nav {
  font-family: $source-sans;
  font-size: $body-font-size;
  width: 100%;
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $that-blue;
  z-index: 30;
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;


  div {
    text-align: center;
    flex: 1 0 auto;
  }

  div.flex-grow {
    flex: 4 2 auto;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  a:hover {
    color: $black;
  }
}