/* variables */
$body-line-height: 25px;
$source-sans: 'Source Sans Pro', sans-serif;
$raleway: 'Raleway', sans-serif;
$navbar-height: 50px;
$white: #ffffff;
$that-blue: #579fc6;
$background-color: #ffffff;
$black: #000000;
$section-color: #dadada;
$body-font-size: 16px;